<mat-card class="movie-card">
  <mat-card-header>
    <mat-card-title>
      <h1 class="titlecls">{{ movie.title }}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <mat-icon style="color: yellow;">star</mat-icon>
      <h3>{{ movie.vote_average }}</h3>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="poster-wrap">
    <div class="card_image_div">
      <img mat-card-image 
        [src]="movie.poster_path ? ('https://image.tmdb.org/t/p/w500' + movie.poster_path) : '../../../assets/images/not-found.png'"
        [alt]="movie.title" 
        [class]="movie.poster_path ? 'img-thumbnail' : 'img-fluid'"></div>
  </div>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialog(movie.id)" color="primary" class="nextbtn">
      {{ 'More Info' }}
    </button>
  </mat-card-actions>
</mat-card>
<!-- [routerLink]="['movie-detail', movie.id]"  -->