.button-row{
    text-align: center;
    background: #9c27b0;
    padding: 20px 0px 20px 0px;
}

.btn-link{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid;
    font-size: 16px;
}