$primary-color: #673ab7;

#search {
  margin-top: 70px;

  form {
    padding: 10px;
  }
  .mat-form-field-infix {
    width: 300px;
    font-size: 20px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
  }
  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0.75em 0 0.75em;
    margin-top: -0.25em;
    position: relative;
    background: rgba(64, 18, 105, 0.42);
    color: white;
  }
}
.layout-wrapper {

//   background-image: url("/assets/images/back-min.jpg");
//   background-size: contain;
  height: 100vh;
  background-image: url(/assets/images/back-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.clear-layout {
  background-image: none;
}

.flex-wrapper {
  height: 100%;
}

.hide {
  display: none;
}

.layout-result {
  border: 5px solid $primary-color;
  background: #f6f6f6;
  border-radius: 0.5em;
  margin-right: 15px;
  margin-left: 15px;
}

.text-info {
  margin-left: 10px;
  color: $primary-color;
}

.nextbtn {
  display: inline-block;
  width: 100%;
  padding: inherit;
}

.main-container {
  display: flex;
  justify-content: center;
}
