<div fxLayout="column" fxLayoutGap="10px">
  <div fxFlex=20 id="search" fxFill fxLayoutAlign="space-around center">
    <form [formGroup]="form" (ngSubmit)="searchMovies(form.value)">
      <mat-form-field appearance="fill">
        <mat-label>Search movie</mat-label>
        <input matInput formControlName="movie" type="text" name="searchText" placeholder="Search Movies Here"
          #movieSearchInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="form.get('movie').hasError('minlength')">
        Input should be at least 3 characters long.
      </mat-error>
      <mat-error *ngIf="form.get('movie').hasError('pattern')">
        Input must be alphanumeric
      </mat-error>
    </form>
  </div>

  <!--Search Result Area-->
  <div [ngClass]="{ 'layout-wrapper': (empty === 0) }">
    <div [ngClass]="{'hide': empty === 0, 'layout-result' : (empty === 1)}">
      <div color="primary">
        <h1 class="text-info" color="primary"> Results for "{{ searchkey }}"</h1>
        <hr>
        <h3 class="text-info" color="primary">{{ totalResults }} movies found.</h3>
      </div>
      <!-- <div fxLayout="row wrap" fxLayoutAlign="space-around" class="main-container">

        <div *ngFor="let movie of movies" fxFlex.lg="20" fxFlex.md="30" fxFlex.xs="80">
          <app-moviecard [movie]="movie"></app-moviecard>
        </div>
      </div> -->

      <div fxLayout="row wrap" fxLayout.xs="column wrap">
        <div fxFlex.xs="100%"  fxFlex.gt-xs="50%"  fxFlex.gt-sm="33.33%"  [fxFlex.gt-md]="regularDistribution" *ngFor="let movie of movies">
          <app-moviecard [movie]="movie"></app-moviecard>
        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="center" style="padding:10px">
        <button mat-raised-button color="accent" (click)="loadMore()" *ngIf="movies.length < totalResults"
          class="nextbtn">
          Next page
        </button>
      </div>
    </div>
  </div>
</div>