@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ngx-bar-rating/themes/br-default-theme";
@import "~ngx-bar-rating/themes/br-movie-theme";

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mat-dialog-container {
  padding: 0px !important;
}

.br {
  padding: 10px;

  .br-units {
    float: left;
  }

  .br-text {
    margin-right: 5px;
    font-size: 23px;
    height: 18px;
    width: 18px;
    float: left;
  }
}
